<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
</head>

<body>
    <h1>Fetching Product Details</h1>
    <form onsubmit="onSubmitHandler(event)">
        <label for="productName">
            Product Name
            <input type="text" id="productName" name="productName" />
        </label>
        <button type="submit">Add Product</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const onSubmitHandler = (event) => {
            event.preventDefault();
            const product = event.target.productName.value;
            const obj = {
                "productName": product
            }

            axios.post("http://localhost:4000/products", obj).then(res => {
                console.log(res.data);
            });
        }
    </script>
</body>

</html>